@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{

    box-sizing:border-box;
}
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/**menu principal**/

header{
    height: 100vh;
    background: no-repeat center/cover url("../img/header.jpg");

}
button{
    padding: 2px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    background-color:#e4c38396;
    color: #ffffff;=
}

.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    padding: 20px;
}

.hamburguer{
    display: none;}


.logo {
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;}
    li:hover{
            color: white;
}

.hamburguer{
    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 5px;
    border: 0;

    position: relative;
    cursor: pointer;

    display: none;
}

.hamburguer:after{
    content: "";

    position: absolute;
    top: 35%;
    left: 15%;

    width: 85%;
    height: 10%;
    border-radius: 5px;

    background-color: red;
}
.hamburguer:before{
    content:"";

    position: absolute;
    top: 55%;
    left: 15%;

    width: 85%;
    height: 10%;
    border-radius: 5px;

    background-color: red;
}

.header-content{
    max-width: 680px;
    max-height: 90px;
    margin:  200px auto;
    text-align: center;
    color: #ffffff;
    background-color: #091f2d33;
    border-radius: 8px;
    position: relative;

}
.header-content h1 {
    font-size: 3rem;
    margin: 10px;
}


/**conteudo principal**/

main{
    font-size: 20px;
}
main section{
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    color:#cc0001;
}
main section:nth-child(odd){
    height: 100vh;
    background-color: #f0f0d6;
}

main section:nth-child(even){
    height: 100vh;
    background-color:#f8efba ;
}


/** botão para celular **/

@media screen and (max-width: 980px){
    .hamburguer{
        display: block;
        z-index: 999;
        position: fixed;
        right: 10px;


    }
    .menu{
        z-index: 998;
        position: fixed;
        right: -100%;
        top:    0;


        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: lightgray;

        width:       100%;
        max-width:   250px;

        padding: 100px 0;
        line-height: 70px;

        flex-direction: column;
        transition: 0.5s ease;

    }
    .menu.active{
    right:0;
    }





}

/*rodapé*/
footer p {
    text-align: center;
}
